/*Common Operation among Elements*/
.Course-Container,
.Course-Container>:nth-child(1),
.Headings,
.Course-Container__Courses
{
    display: flex;
}


.Course-Container>:nth-child(1),
.Headings,
.Course-Container__Courses
{
    align-items: center;
}

.Course-Container__Courses,
.Headings
{
    padding: 1rem 0;
}

/*Selected Courses*/
.Registeration
{
    display: flex;
    flex-direction: column;
    position: relative;
}

.Course-Container
{
    flex-direction: column;    
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    margin:2rem auto 2rem auto;
    width:90%;
    height:60vh;
    border-radius: 5px;
}

.Course-Container>:nth-child(1)
{
    justify-content: space-between;
    padding:1rem 2rem 1rem 2rem;
    border-bottom:1px solid rgba(0, 0, 0, 0.45);
}

.Course-Container h3
{
    font-size:1.5rem;
    font-weight:400;
}


.Headings
{
    font-weight:bold;
   font-size:15px;
   box-shadow: 0 7px 7px 1px rgba(0, 0, 0, 0.07);
   margin-bottom:5px;
   border-radius:5px;
}

.Headings>li,
.Course-Container__Courses>li
{
    flex:1;
    margin-left:2rem;
}

.Course-Container__Courses
{
    cursor: pointer;
    margin:0 10px;
    font-size:13px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    background-color: rgba(236, 236, 236, 0.671);
    border-radius:21px;
    margin-top:10px;
    margin-bottom:10px;
}
.Course-Container__Courses:hover
{
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
    margin-top:20px;
    margin-bottom:20px;
    transition: 0.6s ease-in-out all;
}


.btn-delete
{
    padding:7px 10px;
    font-weight:bold;
    background-color: #E86179;
}

.btn-add
{
    padding-left:13px;
    padding-right:13px;
    text-align: center;
    font-weight:bold;
}


.Course-Container>div:nth-of-type(2)
{
    overflow-y: scroll;
    max-height:67%;
}

/*Registeration__BackgroundColor*/
.Registeration__BackgroundColor
{
    background-color: rgba(0, 0, 0, 0.349);
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    top:0;
}


/*Section-container*/
.Section-container
{
    position:fixed;
   top:12vh;
   left:1.7vw;
   z-index:100;
   width:47vw;
   background-color: white;
   border-radius:7px;
}

.Section-container>:nth-child(1)
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 1.2rem;
    border-bottom:1px solid rgb(197, 187, 187);
}

.Section-container span>:nth-child(1)
{
    font-size:2.3rem;
    cursor: pointer;
}

.Section-container span>:nth-child(1):hover
{
    background-color: rgba(182, 182, 182, 0.301);
    transition:1s ease-in-out all;
}

.Section-container>:nth-child(2)
{
    display: inline-block;
    margin:1rem 3.8rem 0 3.8rem;
    font-size:1.4rem;
}

.Section-container>:nth-child(3)
{
  overflow-y: scroll;
  height:45vh;
}

.Section-container table
{
    margin:1rem auto;
}

.Section-container table,
.Section-container tr,
.Section-container th,
.Section-container td
{
    border:1px solid black;
    border-collapse: collapse;
    padding:1rem;
    text-align: center;
}



.Section-btn-container
{
    display: flex;
    justify-content: flex-end;
    gap:1rem;
    border-top:1px solid black;
    padding:1.3rem;
}

.Section-btn-container>:nth-child(1),
.Section-btn-container>:nth-child(2)
{
    width:5rem;
    padding:13px;
    font-size:15px;
}

.Section-btn-container>:nth-child(2)
{
    background-color: #B4B7C2;
}

/*Checking for course Deletion*/
.asking-container
{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius:7px;
    position: fixed;
    top: 40vh;
    left:35vw;
    width:30vw;
    z-index:100;
}

.asking-container>h3
{    
    margin:1rem 0 0.5rem 0;
    font-weight: 500;
}

.btn-asking
{
    display:flex;
    gap:1rem;
    padding:1rem 1rem;
}

.btn-asking>button
{
    border-radius:13px;
    width:5rem;
}


/*Filter*/
.Filter
{
    display: flex;
    gap:2vw;
}

.Filter>div
{

    display: flex;
    align-items:center;
    gap:7px;
}

.Filter__Select
{
    font-size:1.2rem;
    font-weight:bold;    
}

.Filter__Select>select
{
    outline:none;
    border:1px solid rgb(123, 123, 133);
    border-radius:5px;
    width:5rem;
    padding:5px;
    font-size:14px;
    text-align: center;
}


.l1
{
    font-size:1rem;
}


.Filter__Search-Course>input
{
    width:12vw;
    padding:10px 0 10px 12px;
    border-radius:20px;
    outline: none;
    font-size:14px;
}





.btn-filter
{
    width:5.4vw;
    font-size:1rem;
}

.btn-filter:hover
{
    background-color:rgb(16, 16, 93);
}


