/*Common Properties among different Elements*/
.Course-Container,
.Course-Container>:nth-child(1),
.Headings,
.Course-Container__Courses
{
    display: flex;
}


.Course-Container>:nth-child(1),
.Headings,
.Course-Container__Courses
{
    align-items: center;
}

.Course-Container__Courses,
.Headings
{
    padding: 1rem 0;
    text-align: center;
}

/*Selected Courses*/
.Registeration
{
    display: flex;
    flex-direction: column;
    position: relative;
}

.Course-Container
{
    flex-direction: column;    
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    margin:2rem auto 2rem auto;
    width:90%;
    height:60vh;
    border-radius: 5px;
}

.Course-Container>:nth-child(1)
{
    justify-content: space-between;
    padding:1rem 2rem;
    border-bottom:1px solid rgba(0, 0, 0, 0.45);
}

.Course-Container h3
{
    font-size:1.5rem;
    font-weight:400;
}

.Headings
{
   font-weight:bold;
   font-size:15px;
   box-shadow: 0 7px 7px 1px rgba(0, 0, 0, 0.07);
   margin-bottom:5px;
   border-radius:5px;
}

.Headings>li,
.Course-Container__Courses>li
{
    flex:1;
    margin-left:2rem;
}

.Course-Container__Courses
{
    font-size:13px;
    margin-top:5px;
    margin-bottom:5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    background-color: rgba(236, 236, 236, 0.671);
    transition: 0.7s ease-in-out all;
}


.Course-Container__Courses:hover
{
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
    margin:10px 10px;
    border-radius:20px;
    padding:15px 0;
    font-size:13px;
}



.btn-delete
{
    padding:7px 10px;
    font-weight:bold;
    background-color: #E86179;
}

.btn-add
{
    padding-left:13px;
    padding-right:13px;
    text-align: center;
    font-weight:bold;
}



.Course-Container>div:nth-of-type(2)
{
    overflow-y: scroll;
    max-height:67%;
}


/*Registeration__BackgroundColor*/
.Registeration__BackgroundColor
{
    background-color: rgba(0, 0, 0, 0.349);
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    top:0;
}


/*Section-container*/
.Section-selector
{
   position:fixed;
   top:14vh;
   left:1.7vw;
   display: flex;
   align-items: center;
   gap:1rem;
}

.TimeTable-Container,
.Section-container
{
    width:47vw;
    background-color: white;
    border-radius:7px;
}


.Section-container>:nth-child(1)
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 1.2rem;
    border-bottom:1px solid rgb(197, 187, 187);
}

.Section-container span>:nth-child(1),
.TimeTable-Container>div:nth-child(1) span>:nth-child(1)
{
    font-size:2.3rem;
    cursor: pointer;
}

.Section-container span>:nth-child(1):hover
{
    background-color: rgba(182, 182, 182, 0.301);
    transition:1s ease-in-out all;
}

.Section-container>:nth-child(2)
{
    display: inline-block;
    margin:1rem 0 0 1.3rem;
    font-size:1.4rem;
}

.Section-container>:nth-child(3)
{
    overflow-y: scroll;
    max-height:40vh;
}

.Section-container table
{
    margin:1rem auto;
}

.Section-container table,
.Section-container th,
.Section-container td
{
    
    border:1px solid black;
    border-collapse: collapse;
    padding:1rem;
    text-align: center;
}

.Section-btn-container
{
    display: flex;
    justify-content: flex-end;
    gap:1rem;
    border-top:1px solid black;
    padding:1.3rem;
}

.Section-btn-container>:nth-child(1),
.Section-btn-container>:nth-child(2)
{
    width:5rem;
    padding:13px;
    font-size:15px;
}    

.Section-btn-container>:nth-child(2)
{
    background-color: #B4B7C2;
}    


/*Time Table*/
.TimeTable-Container
{
    display: flex;
    justify-content:flex-start;
    flex-direction:column;
    gap:1rem;
    padding-bottom:1rem;
    width:48vw;
    max-height:59rem;
}




.TimeTable-Container--Position
{
    position: fixed;
    top:20vh;
    left:20vw;
    width:60vw;
    max-height:66vh;
}


.TimeTable-Container>div:nth-child(1)
{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom:1px solid rgba(0, 0, 0, 0.411);
    padding:1rem 1.5rem;
}



.TimeTable-Container h2
{
    font-size:1.8rem;
}


.TimeTable-Container>div:nth-child(2)
{
    overflow: scroll;
    margin:0 1rem;
}

.TimeTable-Container table,
.TimeTable-Container th,
.TimeTable-Container td
{
    border:1px ridge rgb(209, 209, 223);
    border-collapse: collapse;
}

.TimeTable-Container__day,
.TimeTable-Container th
{
    background-color: rgba(219, 219, 236, 0.637);
}


.TimeTable-Container th
{
    font-weight:500;
    font-size:10px;
}


.TimeTable-Container th:nth-of-type(1),
.TimeTable-Container__day
{
    font-size:13px;
    padding:13px;
}





.TimeTable-Container th:nth-of-type(1)
{
    font-weight: bold;
}

.TimeTable-Container__day
{
    text-align: center;
}

.TimeTable-Container__day__Lecture
{
    border-left:3px solid rgb(22, 22, 110);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: rgba(136, 175, 214, 0.445);
    font-size:12px;
    padding:5px 5px 5px 9px;
    margin:7px;
}


/*Checking for course Deletion*/
.asking-container
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius:7px;
    position: fixed;
    top: 40vh;
    left:35vw;
    width:30vw;
    z-index:100;
}    




.asking-container>h3
{    
    margin:1rem 0 0.5rem 0;
    font-weight: 500;
}    

.btn-asking
{
    display:flex;
    gap:1rem;
    padding:1rem;
}    



.btn-asking>button
{
    border-radius:13px;
    width:5rem;
}    


/*Filter*/
.Filter
{
    display: flex;
    gap:2vw;
}    


.Filter>div
{    
    display: flex;
    align-items:center;
    gap:7px;
}


.Filter__Select
{
    font-size:1.2rem;
    font-weight:bold;    
}


.Filter__Select>select
{
    outline:none;
    border:1px solid rgb(123, 123, 133);
    border-radius:5px;
    width:5rem;
    padding:5px;
    font-size:14px;
    text-align: center;
}    


.Filter__Search-Course>input
{
    width:12vw;
    padding:10px 0 10px 12px;
    font-size:14px;
    border-radius:20px;
    outline: none;
}    

.btn-filter
{
    width:5.4vw;
    font-size:1rem;
}    

.btn-filter:hover
{
    background-color:rgb(16, 16, 93);
}

@media screen and (max-width:1400px)
{
    .Section-selector
    {
        gap:4px;
        left:2vw;
    }
    
    .Section-container table,
    .Section-container th,
    .Section-container td
    {
        padding:15px 9px;
    }
    
    .Section-container th
    {
        font-size:15px;
    }
    
    .Section-container td
    {
        font-size:14px;
    }
    
}

@media screen and (max-width:1138px)
{
    .Section-container table,
    .Section-container th,
    .Section-container td
    {
        padding:14px 9px;
    }
    
    .Section-container th
    {
        font-size:14px;
    }
    
    .Section-container td
    {
        font-size:12px;
    }
    
}


@media screen and (max-width:1080px)
{
    .Section-container table,
    .Section-container th,
    .Section-container td
    {
        padding:13px 7px;
    }
    
    .Section-container th
    {
        font-size:13px;
    }

    .Section-container td
    {
        font-size:11px;
    }
}

@media screen and (max-width:992px)
{
    .Section-container>:nth-child(2)
    {
        font-size:1.3rem;
    }
    
    .Section-container table,
    .Section-container th,
    .Section-container td
    {
        padding:12px 6px;
    }
    
    .Section-container th
    {
        font-size:12px;
    }
    
    .Section-container td
    {
        font-size:10px;
    }
}

@media screen and (max-width:890px)
{
    .Section-container>:nth-child(2)
    {
        font-size:1.2rem;
    }
    
    .Section-container table,
    .Section-container th,
    .Section-container td
    {
        padding:11px 5px;
    }
    
    .Section-container th
    {
        font-size:11px;
    }

    .Section-container td
    {
        font-size:9px;
    }
}

@media screen and (max-width:806px)
{
    .Section-container>:nth-child(1) h2
    {
        font-size:1.3rem;
    }
    .Section-container>:nth-child(2)
    {
        font-size:1.1rem;
    }
    
    .Section-container table,
    .Section-container th,
    .Section-container td
    {
        padding:10px 4px;
    }
    
    .Section-container th
    {
        font-size:10px;
    }
    
    .Section-container td
    {
        font-size:8px;
    }
}

@media screen and (max-width:718px)
{
    .Section-container>:nth-child(1) h2
    {
        font-size:1.2rem;
    }
    
    .Section-container table,
    .Section-container th,
    .Section-container td
    {
        padding:9px 2px;
    }
    .Section-container th
    {
        font-size:9px;
    }
}

@media screen and (max-width:512px)
{
    .Section-container>:nth-child(1) h2
    {
        font-size:1rem;
    }
    
    .Section-container>:nth-child(2)
    {
        font-size:1rem;
    }
    
    .Section-container table,
    .Section-container th,
    .Section-container td
    {
        padding:9px 1px;
    }
    .Section-container th
    {
        font-size:8px;
    }
    
    .Section-container td
    {
        font-size:7px;
    }
    
    .Section-btn-container>:nth-child(1),
    .Section-btn-container>:nth-child(2)
    {
        padding:10px;
        font-size:12px;
    }
}


@media screen and (max-width:1208px)
{
    .Filter
    {
       gap:9px;
       flex-wrap: wrap;
    }
    
    .Filter>div
    {
        gap:5px;
    }
    
    .Filter__Select
    {
        font-size:12px;
    }
    
    .Filter__Select>select
    {
        width:3rem;
        padding:4px;
        font-size:10px;
    }
    
    .Filter__Search-Course>input
    {
        width:5.5rem;
        padding:5px 0 5px 10px;
        font-size:10px;
    }
    .btn-filter
    {
        padding:4px;
        width:3rem;
        font-size:12px;
    }
}

@media screen and (max-width:950px)
{
    .Headings
    {
        font-size:10px;
    }
    .Headings>li,
    .Course-Container__Courses>li
    {
        margin-left:1rem;
    }
}

@media screen and (max-width:780px)
{
    .TimeTable-Container--Position
    {
        width:81vw;
        left:11vw;
    }

    .TimeTable-Container h2
    {
        font-size:1rem;
    }
    
    .TimeTable-Container th
    {
        font-size:8px;
    }
    
    .TimeTable-Container th:nth-of-type(1),
    .TimeTable-Container__day
    {
        font-size:10px;
        padding:8px;
    }
    
    .TimeTable-Container__day__Lecture
    {
        font-size:9px;
        padding:4px 4px 4px 7px;
        margin:4px;
    }
    
    /*Asking*/
    .asking-container
    {
        width:50vw;
        left:30vw;
    }
    .asking-container>h3
    {
        font-size:1rem;
    } 
    
    .btn-asking>button
    {
        width:14vw;
    }
}

@media screen and (max-width:592px)
{
    .Headings>li,
    .Course-Container__Courses>li
    {
        margin-left:0;
    }
}

@media screen and (max-width:521px)
{
    .Course-Container__Courses
    {
        font-size:8px;
        padding: 10px 0;
    }

    .Course-Container__Courses:hover
    {
        padding:10px 0;
        font-size:9px;
    }

    .Course-Container>:nth-child(1)
    {
        padding:14px 14px 14px 14px;
    }
    
    .Course-Container h3
    {
        font-size:1rem;
    }
    .btn-add
    {
        padding-left:10px;
        padding-right:10px;
        font-size:10px;
    }
}

@media screen and (max-width:375px)
{
    .Headings
    {
        font-size:9px;
    }
}

@media screen and (max-width:467px)
{
   .btn-view
   {
      font-size:8px;
      padding:4px 7px;
    }

   .btn-delete
   {
     font-size:8px;
     padding:6px 7px;
   }
}